body{
	font-family: Arial, sans-serif;
}

.container{
	width: 1056px;
	margin: 0 auto;

}
.header{
	background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.35) 100%), url("../images/header.png") no-repeat;
	background-size: cover;
	padding-bottom: 198px;
}
.clearfix:after{
	display: table;
	content: "";
	clear: both;
}

.navigation{
	padding-top: 36px;
}

.logo-item{
	float: left;
}

.logo-item:first-child{
	padding-right: 2.367%;	
	background: url("../images/vline.png") no-repeat 118px 5px;
}

.logo-item:nth-child(2){
	padding-left: 4.45%;
}

.logo-link{
	text-decoration: none;
	color: white;
	font-size: 29px;
	font-weight: 700;
	text-transform: uppercase;

}

.logo-phone{
	text-decoration: none;
	color: white;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.nav-list{
	float:right;
}

.nav-item{
	float: left;
	margin-right: 30px;
}

.nav-item__started{
	margin-right: 0;
	background-color: grey;
	color: white;
	border-radius: 2px;
	padding: 0 11px;
}

.nav-link{
	text-decoration: none;
	opacity: 0.7;
	color: white;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 31px;
}

.nav-link:hover{
	color: white;
	opacity: 1.0;
}

.nav-link__started{
	color: white;
	opacity: 1.0;
	font-size: 12px;
	font-weight: 400;
	line-height: 31px;
	text-transform: uppercase;
	
}

.hr-line{
	height: 1px;
	opacity: 0.2;
	background-color: white;
	margin-top: 25px;
}

.welcome{
	margin-top: 213px;
}
.welcome-header, .welcome-text{
	display: block;
	width: 48.58%;
	color: white;
	font-weight: 400;
}

.welcome-header{
	font-size: 38px;
}

.welcome-text{
	margin: 20px 0 22px;
	font-size: 16px;
	
}

.welcome-link{
	text-decoration: none;
	background-color: rgb(111, 176, 72);
	border-radius: 2px;
	color: white;
	font-size: 14px;
	font-weight: 400;
	/*line-height: 20px;*/
	text-transform: uppercase;
	display: inline-block;
	padding: 20px 45px;

}